.button_y,
.button_n {
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid #000;
    /* Рамка як на скрині */
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.button_group {
    display: flex;
    flex-direction: row;
    /* Кнопки збоку одна від одної */
    gap: 20px;
    /* Відстань між кнопками */
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}

video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 45px;

}
