video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 200px;
}

h1 {
    text-align: center;
    margin-top: 45px;
}

h2 {
    text-align: center;
    margin-top: 1px;

}
